pipeline/Incremental_Load_To_Enrich_AstsRequestResult.json
{
	"name": "Incremental_Load_To_Enrich_AstsRequestResult",
	"properties": {
		"activities": [
			{
				"name": "LookupIfEmptyDataSet",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.windowStart",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.windowEnd",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DS_CopyDimFromStagingToEnrichSRC",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.schemaname",
								"type": "Expression"
							},
							"databasename": {
								"value": "@pipeline().parameters.databasename",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "LoadDataIfNotEmpty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupIfEmptyDataSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(indexOf(string(activity('LookupIfEmptyDataSet').output),'firstRow'),-1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WaitFalse",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Data From Staging To Enrich",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopyDimFromRawToStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_CopyRawToEnrich_DimSRCs",
									"type": "DataFlowReference",
									"parameters": {
										"filename": {
											"value": "'@{pipeline().parameters.tablename}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"tablename": {
												"value": "@pipeline().parameters.tablename",
												"type": "Expression"
											}
										},
										"sink1": {
											"enrichedTable": {
												"value": "@pipeline().parameters.tablename",
												"type": "Expression"
											},
											"enrichedSchema": {
												"value": "@pipeline().parameters.schemaname",
												"type": "Expression"
											},
											"enrichedDatabase": {
												"value": "@pipeline().parameters.databasename",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "IR-QuickReUse",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "CopyDimFromRawToStaging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "fse-test-sql/AstuteOnline/Billing/UnitOfWork/"
								},
								{
									"name": "Destination",
									"value": "fse-test-sql/unitofwork/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@pipeline().parameters.windowStart",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@pipeline().parameters.windowEnd",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "DS_CopyDimFromStagingToEnrichSRC",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tablename",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@pipeline().parameters.schemaname",
											"type": "Expression"
										},
										"databasename": {
											"value": "@pipeline().parameters.databasename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CopyDimToStaging",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tablename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Data From Staging To Enrich",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_CopyDimToStaging",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tablename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"windowStart": {
				"type": "String"
			},
			"windowEnd": {
				"type": "String"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "AstsRequestResult"
			},
			"schemaname": {
				"type": "string",
				"defaultValue": "ASTS"
			},
			"databasename": {
				"type": "string",
				"defaultValue": "AstuteOnline"
			}
		},
		"variables": {
			"LoadDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Active/2202150050002247 - Arnab [ABN AMRO]"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-28T15:35:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}