pipeline/Incremental_Load_To_Facts_DW_DigitalConsent.json
{
	"name": "Incremental_Load_To_Facts_DW_DigitalConsent",
	"properties": {
		"activities": [
			{
				"name": "LookupIfEmptyDataSet",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.windowStart",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.windowEnd",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DS_CopyFactFromEnrichToStagingSRC",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.tabelName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.schemaName",
								"type": "Expression"
							},
							"databasename": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupIfEmptyDataSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(indexOf(string(activity('LookupIfEmptyDataSet').output),'firstRow'),-1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WaitFalse",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "DF_LoadFacts_DigitalConsent",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "IncrementalDigitalConsent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_LoadFacts_DigitalConsent",
									"type": "DataFlowReference"
								},
								"staging": {
									"linkedService": {
										"referenceName": "LS_SynapseStaging",
										"type": "LinkedServiceReference"
									},
									"folderPath": "immersivedatalakestorage"
								},
								"integrationRuntime": {
									"referenceName": "IR-QuickReUse",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine",
								"runConcurrently": true
							}
						},
						{
							"name": "IncrementalDigitalConsent",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "fse-test-sql//"
								},
								{
									"name": "Destination",
									"value": "staging/ccprequest/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@pipeline().parameters.windowStart",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@pipeline().parameters.windowEnd",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_CopyFactFromEnrichToStagingSRC",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tabelName",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@pipeline().parameters.schemaName",
											"type": "Expression"
										},
										"databasename": {
											"value": "@pipeline().parameters.databaseName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CopyFactEnrichToStaging",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tabelName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "DF_LoadFacts_DigitalConsent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_CopyFactEnrichToStaging",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tabelName",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"windowStart": {
				"type": "String"
			},
			"windowEnd": {
				"type": "String"
			},
			"databaseName": {
				"type": "string",
				"defaultValue": "AstuteOnline"
			},
			"schemaName": {
				"type": "string",
				"defaultValue": "CRM"
			},
			"tabelName": {
				"type": "string",
				"defaultValue": "MyClient"
			}
		},
		"variables": {
			"loadDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Active/2202150050002247 - Arnab [ABN AMRO]"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-28T15:35:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}