synapse/pipeline/JSE_TESTCOPY.json
{
	"name": "JSE_TESTCOPY",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 5
							},
							"inputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable1",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().schema_",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table_",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet2",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().table_",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "select sys.schemas.name as schema_, sys.tables.name as table_\nfrom sys.tables inner join sys.schemas\non sys.tables.schema_id = sys.schemas.schema_id\nwhere sys.schemas.name = 'testdrive'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlPoolTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-12T21:21:44Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}