synapse/pipeline/JSE_createDeltaLakeFromDedicated.json
{
	"name": "JSE_createDeltaLakeFromDedicated",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "deltaDataflow",
									"type": "DataFlowReference",
									"parameters": {
										"schema": {
											"value": "'@{item().schema_}'",
											"type": "Expression"
										},
										"table": {
											"value": "'@{item().table_}'",
											"type": "Expression"
										}
									},
									"linkedServiceParameters": {
										"source1": {
											"linkedService": {
												"DBName": "mypool"
											}
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "pombosynapse1-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"folderPath": "stagingdelta"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "select sys.schemas.name as schema_, sys.tables.name as table_\nfrom sys.tables inner join sys.schemas\non sys.tables.schema_id = sys.schemas.schema_id\nwhere sys.schemas.name = 'testdrive'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlPoolTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-12T21:06:19Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}